<div class="@($"{(string.IsNullOrEmpty(content) ? "d-none" : "")}") w-100" style="min-height: 4rem">
    <div class="card h-100 w-100 text-center">
        <div class="card-body" style="background-color: rgb(255, 0, 0, 0.2)">
            @content
        </div>
    </div>
</div>