@inherits BaseComponent<LessonList>

<div class="m-5 d-flex flex-column align-items-center">
    @foreach (var lesson in lessons)
    {
        <div class="mb-4" style="max-width: 100rem; min-width: 75rem;">
            <LessonItem Lesson="@lesson" />
        </div>
    }
</div>