<div class="card">
    <div class="card-body">
        <div class="d-flex flex-column">
            <div>
                <h1>@lessonName</h1>
            </div>
            <div>
                <p>@lessonDescription</p>
            </div>
        </div>
    </div>
</div>