@inherits BaseComponent<LessonItem>

<a href="@lessonLink" class="no-link">
    <div class="card">
        <div class="card-body py-1">
            <div class="d-flex flex-column">
                <div>
                    <h1>
                        @lessonName
                    </h1>
                </div>
                <div>
                    <p class="mb-0">
                        @lessonDescription
                    </p>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <a href="@($"/lessons/edit?id={Lesson.Id}")" class="btn btn-primary-outline btn-sm">
                        Edit
                    </a>
                    <p class="mb-0">
                        @lessonPlannedDatetime
                    </p>
                </div>
            </div>
        </div>
    </div>
</a>