@inherits BaseComponent<LessonList>

<div class="mx-5 d-flex flex-column align-items-center">
    @if(Lessons.Count < 1)
    {
        <p>No lessons...</p>
    }
    else
    {
        foreach (var lesson in Lessons)
        {
            <div class="lesson-item">
                <LessonItem Lesson="@lesson" IsAllowedToEdit="@IsAllowedToEdit" />
            </div>
        }
    }
</div>