@inherits BaseComponent<LessonList>

<div class="m-5 d-flex flex-column align-items-center">
    @foreach (var lesson in lessons)
    {
        <div class="lesson-item">
            <LessonItem Lesson="@lesson" />
        </div>
    }
</div>