@page "/"

@using LessonTool.UI.Infrastructure.Interfaces
@using LessonTool.UI.WebApp.Components.Lesson

@inherits BaseComponent<Home>

<PageTitle>Lessons</PageTitle> 

<div class="d-flex flex-column align-items-center mt-5">
    <p>Welcome to the lesson tool where you will find lessons and stuff...</p>
    <p>Well not really stuff, just lessons.</p>
</div>