@page "/lessons"

@using LessonTool.UI.WebApp.Components

@inherits BaseComponent<LessonPage>

@if(lessonAccessor is null)
{
    <div class="d-flex flex-row justify-content-center">
        <p>Failed to find matching lesson</p>
    </div>
}
else
{
    <div class="d-flex flex-column">
        <div class="mb-3">
            <LessonHeader Lesson="@lessonAccessor.Lesson" />
        </div>
        <div>
            <SectionList LessonId="@lessonAccessor.Lesson.Id" SectionsRepository="@lessonAccessor" />
        </div>
    </div>
}