@page "/lesson"

@inherits BaseComponent<LessonViewPage>

@using LessonTool.UI.WebApp.Components.Lesson
@using LessonTool.UI.WebApp.Components.Section

<div>
    @if (isLoadingFromSource)
    {
        <div>
            <p>Loading...</p>
        </div>
    }
    else
    {
        <div class="mt-3">
            <LessonHeader Lesson="@lesson" />
        </div>
        <div>
            <SectionList Sections="@lesson.Sections" />
        </div>
    }
</div>