@using LessonTool.UI.WebApp.Components.Lesson
@inherits BaseComponent<LessonEditPage>

<div>
    <LessonEditor LessonId="@lessonId" LessonRepository="@LessonRepository" SectionRepository="@SectionRepository" />
</div>