@page "/lessons"

@using LessonTool.UI.WebApp.Components

@inherits BaseComponent<LessonPage>

@if(lesson is null)
{
    <div class="d-flex flex-row justify-content-center">
        <p>Failed to find matching lesson</p>
    </div>
}
else
{
    <div class="d-flex flex-column">
        <div class="mb-3">
            <LessonHeader Lesson="@lesson" />
        </div>
        <div>
            <SectionList SectionsSource="@(async () => lesson.Sections)" />
        </div>
    </div>
}