@page "/lessons/edit"
@page "/lessonEditor"

@using LessonTool.UI.WebApp.Components.Lesson
@inherits BaseComponent<LessonEditPage>

<div class="editor-size">
    <div class="card">
        <div class="card-body">
            <div>
                <LessonEditor LessonId="@lessonId" LessonRepository="@fullLessonRepository" />
            </div>
        </div>
    </div>
</div>