@inherits LayoutComponentBase
@inject LessonTool.UI.Infrastructure.Interfaces.IAuthenticationStateHandler authHandler


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            Study Tool
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/lessons">
                    Lessons
                </a>
                <a class="nav-link" href="#">
                    Login
                </a>
            </div>
        </div>
    </div>
</nav>

@if (hasDied)
{
    <p>She's dead captain!</p>    
} 
else if(hasInitialized)
{
    @Body
}
else
{
    <p>Loading</p>
}

@code {
    private bool hasInitialized = false;

    private bool hasDied = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();
            await authHandler.InitializeAuthenticationStateAsync(CancellationToken.None);

            hasInitialized = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }
}